@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  display: flex; /* by itself would display everything horizontal */
  flex-direction: column; /* sets flex to column and vertical */
  align-items: center; /* centre with this in a flex box */
  justify-content: center; /* places it centre of screen but only with height */
  height: 100vh; /* view port height - full screen size */
  overflow: hidden; /* scroll bars hidden by defualt */
  margin: 0;
}
